@(searchForm: Form[WidgetData], tweets: Seq[lyc.Item])


@import helper._

@main("Search Form") {

    <head>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    </head>

    <body>
        <h1>Search form</h1>
        @helper.form(routes.HomeController.search) {
            @helper.CSRF.formField

            @helper.inputText(searchForm("keyword"))

            <button type="submit">Search</button>
        }


        <table>
            <thead>
            <tr><th>Name</th>
                <th>Tweet</th>
                <th>Link</th>
            </thead>
            <tbody>
            @for(w <- tweets) {
            <tr>
                <td>@w.getUser_name()</td>
                <td>@w.getText()</td>
                <td>
          
                </td>
            </tr>
            }
            </tbody>
        </table>

    </body>
}